@page "/appointmentreminders"
@using MyPTClinicApp.Shared

<h1 class="page-title">Send Email Reminders for Appointments</h1>

<br />

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text" id="apptdate">Select date for reminders:</span>
        <input class="form-control" input type=date @bind-value="AppointmentsDate" />
    </div>
    <div class="input-group-append">
        <button class="btn btn-primary" @onclick="GetAppointments">Show appointments</button>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Patient</th>
            <th>Therapist</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SchedulerAppointment appointment in Appointments)
        {
            <tr>
                <td>@appointment.PatientName</td>
                <td>@appointment.TherapistName</td>
                <td>@appointment.Start.Day/@appointment.Start.Month/@appointment.Start.Year @appointment.Start.ToShortTimeString()</td>
            </tr>
        }
    </tbody>
</table>


<div>
    <button class="btn btn-primary" @onclick="@SendReminderMails">Send reminder emails to patients</button>
</div>
<br/>


<div class="alert @sendingStatusClass">@sendingMessage</div>

<div class="alert @SuccessStatusClass">@successMessage</div>

<div class="alert @noEmailStatusClass">@noEmailMessage</div>
