@page "/detailedview"
@using MyPTClinicApp.Shared
@using Telerik.Blazor.Components


<p>Please use landscape view on phone to see details</p>

<TelerikGrid Data="Treatments" Sortable="true" Pageable="true">
    <GridColumns>
        <GridColumn Field="@nameof(TreatmentDTO.Date)"></GridColumn>
        <GridColumn Field="@nameof(TreatmentDTO.PatientFirstName)" Title="Patient First Name"></GridColumn>
        <GridColumn Field="@nameof(TreatmentDTO.PatientLastName)" Title="Patient Last Name"></GridColumn>
        <GridColumn Field="@nameof(TreatmentDTO.TherapistFirstName)" Title="Therapist First Name"></GridColumn>
        <GridColumn Field="@nameof(TreatmentDTO.TherapistLastName)" Title="Therapist Last Name"></GridColumn>
        <GridColumn Field="@nameof(TreatmentDTO.Notes)" Title="Patient First Name"></GridColumn>
        
    </GridColumns>
</TelerikGrid>


