@page "/patientoverview"

<h1 class="page-title">All Patients</h1>

<br />

@if (Patients == null)
{
    <p><em>Retrieving patient info, it will just take a moment...</em></p> 
}
else
{
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Patients)
            {
                <tr>
                    <td>@patient.ID</td>
                    <td>@patient.FirstName</td>
                    <td>@patient.LastName</td>
                    <td>
                        <a href="@($"patientdetail/{patient.ID}")" class="btn btn-primary table-btn">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </td>
                    <td>
                        <a href="@($"patientedit/{patient.ID}")" class="btn btn-primary table-btn">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
