@page "/patientdetail/{ID}"

@using System.Linq
@inject HttpClient Http

@if (Patient == null)
{
    <p><em>Retrieving patient information, it will just take a moment...</em></p>
}
else
{
    <h1 class="page-title">Patient details: @Patient.FirstName @Patient.LastName</h1>

    <br />

    <div class="form-group row">
        <label class="col-6 col-sm-3 col-form-label">Patient Name: </label>
        <div class="col">
            <label type="text" readonly class="form-control-plaintext">@Patient.FirstName @Patient.LastName</label>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-6 col-sm-3 col-form-label">Phone: </label>
        <div class="col">
            <label type="text" readonly class="form-control-plaintext">@Patient.Phone</label>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-6 col-sm-3 col-form-label">Email: </label>
        <div class="col">
            <label type="text" readonly class="form-control-plaintext">@Patient.Email</label>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-6 col-sm-3 col-form-label">Address: </label>
        <div class="col">
            <label type="text" readonly class="form-control-plaintext">@Patient.Address</label>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-6 col-sm-3 col-form-label">Date of Birth: </label>
        <div class="col">
            <label type="text" readonly class="form-control-plaintext">
                @Patient.DateOfBirth.Day/@Patient.DateOfBirth.Month/@Patient.DateOfBirth.Year
            </label>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-6 col-sm-3 col-form-label">Medications: </label>
        <div class="col">
            <label type="text" readonly class="form-control-plaintext">@Patient.Medications</label>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-6 col-sm-3 col-form-label">Gender: </label>
        <div class="col">
            <label type="text" readonly class="form-control-plaintext">@Patient.Gender</label>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-6 col-sm-3 col-form-label">Therapist Name: </label>
        <div class="col">
            <label type="text" readonly class="form-control-plaintext">@Therapist.FirstName @Therapist.LastName</label>
        </div>
    </div>

    <h2>@Patient.FirstName @Patient.LastName's Treatment History</h2>

    @if (!Treatments.Any())
    {
        <p>@Patient.FirstName @Patient.LastName has not received any treatments</p>
    }
    else 
    { 
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Notes</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var treatment in Treatments)
            {
            <tr>
                <td>@treatment.ID</td>
                <td>@treatment.Date.Day/@treatment.Date.Month/@treatment.Date.Year</td>
                <td>@treatment.Notes</td>
                <td>
                    <a href="@($"treatmentdetail/{treatment.ID}")" class="btn btn-primary table-btn">
                        <i class="fas fa-info-circle"></i>
                    </a>
                </td>
                <td>
                    <a href="@($"treatmentedit/{treatment.ID}")" class="btn btn-primary table-btn">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
           }
        </tbody>
    </table>
    }
}

<div>
    <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Back to patient list</a>
</div>


