@page "/patientoverview"

<h1 class="page-title">All Patients</h1>

<br />

@if (Patients == null)
{
    <p><em>Retrieving patient information, it will just take a moment...</em></p>
}
else
{
    <div class="input-group">
        <input class="form-control" input type="text" placeholder="Search by patient's first, last or full name"
               @bind-value="SearchName" />
        <div class="input-group-append">
            <button class="btn btn-primary" @onclick="Search">Search</button>
            <button class="btn btn-outline-primary" @onclick="ClearSearch">Clear Search</button>
        </div>
    </div>

    <div><b class="alert-warning">@errormessage</b></div>

    <br />

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Patients)
            {
                <tr>
                    <td>@patient.FirstName</td>
                    <td>@patient.LastName</td>
                    <td>
                        <a href="@($"patientdetail/{patient.ID}")" class="btn btn-primary table-btn">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </td>
                    <td>
                        <a href="@($"patientedit/{patient.ID}")" class="btn btn-primary table-btn">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
