@page "/scheduleroverview"

@using MyPTClinicApp.Shared

<TelerikScheduler Data="@Appointments"
                  OnCreate="@AddAppointment"
                  OnUpdate="@UpdateAppointment"
                  OnDelete="@DeleteAppointment"
                  OnEdit="@EditHandler" OnCancel="@CancelHandler"
                  AllowCreate="true" AllowDelete="true" AllowUpdate="true"
                  @bind-Date="@StartDate" @bind-View="@CurrView" Height="600px" Width="800px">
    <ItemTemplate>        
        @{
            
            var appointment = context as SchedulerAppointment;
                <span style="font-size: x-small">@appointment.PatientName (@appointment.Title) @appointment.TherapistName</span>            
        }

    </ItemTemplate>
    <SchedulerResources>
        <SchedulerResource Field="TherapistName" Title="Therapist Name" Data="@Therapists" />
        <SchedulerResource Field="PatientName" Title="Patient Name" Data="@Patients" />
    </SchedulerResources>
    <SchedulerViews>
        <SchedulerMonthView />
        <SchedulerDayView StartTime="@DayStartTime"
                          WorkDayStart="@DayStartTime"
                          WorkDayEnd="@DayEndTime" />
        <SchedulerWeekView StartTime="@DayStartTime"
                           WorkDayStart="@DayStartTime"
                           WorkDayEnd="@DayEndTime" />
        <SchedulerMultiDayView StartTime="@DayStartTime"
                               WorkDayStart="@DayStartTime"
                               WorkDayEnd="@DayEndTime"
                               NumberOfDays="10" />

    </SchedulerViews>
</TelerikScheduler>
