@page "/treatmentdetail/{ID}"

@using System.Linq
@inject HttpClient Http

@if (Patient == null)
{
    <p><em>Retrieving patient information, it will just take a moment...</em></p>
}
else
{
    <h1 class="page-title">Treatment Details</h1>

    <br />

    <div class="form-group row">
        <label class="col-6 col-sm-2 col-form-label">Patient: </label>
        <div class="col">
            <label type="text" readonly class="form-control-plaintext">@Patient.FirstName @Patient.LastName</label>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-6 col-sm-2 col-form-label">Therapist: </label>
        <div class="col">
            <label type="text" readonly class="form-control-plaintext">@Therapist.FirstName @Therapist.LastName</label>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-6 col-sm-2 col-form-label">Date: </label>
        <div class="col">
            <label type="text" readonly class="form-control-plaintext">
                @Treatment.Date.Day/@Treatment.Date.Month/@Treatment.Date.Year

            </label>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-6 col-sm-2 col-form-label">Treatment Notes: </label>
        <div class="col">
            <label type="text" readonly class="form-control-plaintext">@Treatment.Notes</label>
        </div>
    </div>

    <div>
        <a class="btn btn-outline-primary" @onclick="@NavigateToTreatmentOverview">Back to treatment list</a>
    </div>

}
