@page "/treatmentoverview"

<h1 class="page-title">All Treatments</h1>

<br />

@if (Treatments == null)
{
    <p><em>Retrieving treatment information, it will just take a moment...</em></p>
}
else
{
    <div class="input-group">
        <input class="form-control" input type="text" placeholder="Search by therapist's or patient's first, last or full name"
               @bind-value="SearchName" />
        <div class="input-group-append">
            <button class="btn btn-primary" @onclick="Search">Search</button>
            <button class="btn btn-outline-primary" @onclick="ClearSearch">Clear Search</button>
        </div>
    </div>

    <br />

    <div class="input-group input-daterange">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Date Range From:</span>
            <input class="form-control" input type=date @bind-value="FromDate" />
        </div>
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Date Range To:</span>
            <input class="form-control" input type=date @bind-value="ToDate" />
        </div>
        <div class="input-group-append">
            <button class="btn btn-primary" @onclick="Search">Search</button>
            <button class="btn btn-outline-primary" @onclick="ResetDates">Reset Dates</button>
        </div>
    </div>

    <br />
    <div><b class="alert-warning">@errormessage</b></div>
    <br />

    @if (!showSummary)
    {
        <button class="btn btn-primary" @onclick="ShowSummary">Show Breakdown of Treatments by Patient and Therapist</button>
        <br />
    }
    @if (showSummary)
    {
        <button class="btn btn-primary" @onclick="HideSummary">Hide Breakdown of Treatments by Patient and Therapist</button>
        <br />
        <br />

        <h4>Summary info for Treatments</h4>

        <p>Total number of treatments: @totalTreatments</p>
        <p>Total number of treatments meeting search criteria: @Treatments.Count()</p>

        <h4>Breakdown of Treatments by Patient</h4>

        <table class="table">
            <thead>
                <tr>
                    <th>Patient</th>
                    <th>Number of Treatments</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var patientGroup in PatientsWithTreatments)
                {
                <tr>
                    <td>@patientGroup[0].PatientFirstName @patientGroup[0].PatientLastName</td>
                    <td>@patientGroup.Count</td>
                    <td>
                        <a href="@($"patientdetail/{patientGroup[0].PatientId}")" class="btn btn-primary table-btn">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </td>
                    <td>
                        <a href="@($"patientedit/{patientGroup[0].PatientId}")" class="btn btn-primary table-btn">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <h4>Breakdown of Treatments by Therapist</h4>

        <table class="table">
            <thead>
                <tr>
                    <th>Therapist</th>
                    <th>Number of Treatments</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var therapistGroup in TherapistsWithTreatments)
                {
                <tr>
                    <td>@therapistGroup[0].TherapistFirstName @therapistGroup[0].TherapistLastName</td>
                    <td>@therapistGroup.Count</td>
                    <td>
                        <a href="@($"therapistdetail/{therapistGroup[0].TherapistId}")" class="btn btn-primary table-btn">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </td>
                    <td>
                        <a href="@($"therapistedit/{therapistGroup[0].TherapistId}")" class="btn btn-primary table-btn">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>


    }

    <br />

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Patient</th>
                <th>Therapist</th>
                <th>Date</th>
                <th>Notes</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var treatment in Treatments)
            {
                <tr>
                    <td>@treatment.ID</td>
                    <td>@treatment.PatientFirstName @treatment.PatientLastName</td>
                    <td>@treatment.TherapistFirstName @treatment.TherapistLastName</td>
                    <td>@treatment.Date.Day/@treatment.Date.Month/@treatment.Date.Year</td>
                    <td>@treatment.Notes</td>
                    <td>
                        <a href="@($"treatmentdetail/{treatment.ID}")" class="btn btn-primary table-btn">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </td>
                    <td>
                        <a href="@($"treatmentedit/{treatment.ID}")" class="btn btn-primary table-btn">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}