@page "/patientdetail/{ID}"

@using System.Linq
@inject HttpClient Http

@if (Patient == null)
{
    <p><em>Retrieving patient information, it will just take a moment...</em></p>
}
else
{
    <h1 class="page-title">Details for @Patient.FirstName @Patient.LastName</h1>

    <br />

    <div class="form-group row">
        <label class="col-6 col-sm-3 col-form-label">Patient Name: </label>
        <div class="col">
            <label type="text" readonly class="form-control-plaintext">@Patient.FirstName @Patient.LastName</label>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-6 col-sm-3 col-form-label">Phone: </label>
        <div class="col">
            <label type="text" readonly class="form-control-plaintext">@Patient.Phone</label>            
        </div>
    </div>
    <div class="form-group row">
        <label class="col-6 col-sm-3 col-form-label">Email: </label>
        <div class="col">
            <label type="text" readonly class="form-control-plaintext">@Patient.Email</label>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-6 col-sm-3 col-form-label">Address: </label>
        <div class="col">
            <label type="text" readonly class="form-control-plaintext">@Patient.Address</label>            
        </div>
    </div>
    <div class="form-group row">
        <label class="col-6 col-sm-3 col-form-label">Date of Birth: </label>
        <div class="col">
            <label type="text" readonly class="form-control-plaintext">@Patient.DateOfBirth.ToLongDateString()</label>            
        </div>
    </div>
    <div class="form-group row">
        <label class="col-6 col-sm-3 col-form-label">Medications: </label>
        <div class="col">
            <label type="text" readonly class="form-control-plaintext">@Patient.Medications</label>            
        </div>
    </div>
    <div class="form-group row">
        <label class="col-6 col-sm-3 col-form-label">Gender: </label>
        <div class="col">
            <label type="text" readonly class="form-control-plaintext">@Patient.Gender</label>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-6 col-sm-3 col-form-label">Therapist Name: </label>
        <div class="col">
            <label type="text" readonly class="form-control-plaintext">@Patient.TherapistFirstName @Patient.TherapistLastName</label>            
        </div>
    </div>    
}

<div>
    <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Back to overview</a>
</div>


